@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container{
  background-color: #FFFFFF;
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

/* Header */

.page-header{
  padding: 0 70px;
}

.navigation{
  display: flex;
}
.navigation-logo{
  margin-right: 30px;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 440px;

  list-style-type: none;
}

.navigation-user{
  width: 270px;
  margin-left: auto;
}

.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.favorite-count{
  background-color: #7DB54F;

  font-size: 10px;
  line-height: 10px;
  color:#FFFFFF;
}

/* Index page main content*/

.main-container{
  flex-grow: 1;
}

.promo{
  background-image:  url("/images/divider.svg"), url("/images/promo-background.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
}

.promo-image{
  display: block;
  margin: 0 auto;
}

.advantages-main-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-main-description{
  font-size: 22px;
  line-height: 26px;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list{
  text-align: center;

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.advantages-item{
  background-color: #82B3D3;
  color: #FFFFFF
}

.advantages-item:nth-child(2n){
  color: #000000;
  background-color: #82B3D312;
}

.advantages-item:nth-child(3n){
  color: #000000;
  background-color: #82B3D320;
}

.main-items-container{
  width: 620px;
  margin: 0 auto;
}

.services-main-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-main-description{
  font-size: 22px;
  line-height: 26px;
}

.services-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list{
  text-align: center;

  margin: 0;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.services-item{
  width: 400px;
}

.services-item:nth-child(2n+1){
  background-color: #82B3D312;
}

.hostel-search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hostel-search-description{
  font-size: 22px;
  line-height: 26px;
}

.newsletter{
  background-image: url("/images/email-background.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFFFFF;
}

.newsletter-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


/* Footer */
.page-footer{
  padding: 0 70px;

  display: flex;
}

.page-footer a{
  color: #000000;
  text-decoration: none;
}

.footer-social{
  width: 145px;
}

.footer-social-list{
  display: flex;
  justify-content: space-around;
}

.footer-social-list{
  list-style-type: none;
}

.footer-contacts{
  width: 720px;
  padding: 0 40px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* Catalog page main content*/
.inner-container{
  background-image: url("/images/catalog-background.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFFFFF;

  padding: 0 70px;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

  margin: 0;
}

.breadcrumbs-list{
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.breadcrumbs-item a{
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filters{
  display: flex;
}

.catalog-filter-list{
  list-style-type: none;
  width: 150px;
}

.catalog-filter-title{
  font-weight: 700;
  text-transform: capitalize;
}

.view-control a{
  text-decoration: none;
  color: #000000;
}

.catalog-hostels-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hostel-card a{
  text-decoration: none;
}

.hostel-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hostel-rating{
  background-color: #F2F2F2;
}



/* Buttons */
.button{
  background-color: #756157;

  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.newsletter-button{
  background-color: #82B3D3;
}

.submit-button{
  background-color: #82B3D3;
}

.reset-button{
  background-color: transparent;
}

.hostel-card-button-favorite{
  background-color: #82B3D3;
}

.hostel-card-button-favorite-selected{
  background-color: #7DB54F;
}

/* Pagination*/
.pagination-link{
  background-color: #82B3D3;
}

.pagination-link-current{
  background-color: #F2F2F2;

  color: #000000;
}
