@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
  min-height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container{
  background-color: #FFFFFF;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

/* Header */

.page-header{
  padding: 0 70px;
}

.navigation{
  display: flex;
}

.navigation-logo{
  position: absolute;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 440px;
  align-items: center;

  list-style-type: none;
}

.navigation-user{
  width: 270px;
  margin-left: auto;
}

.navigation-link{
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current{
  position: relative;
}

.navigation-link-current:after{
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;

  content: "";
  height: 2px;
  background-color:#756257;
}

.navigation-user .navigation-link:not(.hostel-search-small-button){
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.search-icon{
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-icon{
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.favorite-icon::before{
  content: "12";

  position: absolute;
  bottom: 50%;
  left: 50%;

  background-color: #7DB54F;
  border-radius: 50%;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color:#FFFFFF;
}

/* Index page main content*/

.main-container{
  flex-grow: 1;
}

.promo{
  background-image: url("../images/divider.svg"), url("../images/promo-background.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;

  padding-top: 50px;
  padding-bottom: 82px;
}

.promo-image{
  display: block;
  margin: 0 auto;
}

.advantages{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 70px;
}

.advantages-main-title{
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.advantages-main-description{
  width: 651px;
  font-size: 22px;
  line-height: 26px;

  margin-top: 25px;
  margin-bottom: 0;
}

.advantages-list{
  text-align: center;
  color: #000000;

  margin: 0;
  margin-top: 90px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.advantages-item{
  width: 400px;
  background-color: #82B3D312;

  padding: 112px 85px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.advantages-item:not(.advantages-item-wide):before{
  margin-top: 30px;
  align-self: center;
  order: 2;

  content: "";
  height: 2px;
  width: 60px;
  background-color: #00000030;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title{
  margin: 0;
}

.advantages-description{
  order: 3;
  margin: 0;
  margin-top: 30px;
}

.advantages-item-wide{
  flex-direction: row;

  padding: 0;
  width: 100%;

  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-wide-reverse{
  flex-direction: row-reverse;
}

.advantages-item-wide-content{
  display: flex;
  flex-direction: column;
  padding: 100px 85px;
}

.advantages-item-wide-content:before{
  margin-top: 30px;
  align-self: center;
  order: 2;

  content: "";
  height: 2px;
  width: 60px;
  background-color: #FFFFFF30;
}

.advantages-item-more-blue{
  background-color: #82B3D320;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 65px;
}

.services-main-title{
  width: 505px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.services-main-description{
  font-size: 22px;
  line-height: 26px;

  margin-top: 20px;
  margin-bottom: 0;
}

.services-list{
  text-align: center;

  margin: 0;
  margin-top: 65px;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.services-item{
  box-sizing: border-box;
  width: 400px;
  padding: 81px 85px;
  padding-top: 183px;
}

.services-item-more-blue{
  background-color: #82B3D312;
}

.services-title{
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description{
  margin: 0;
  margin-top: 30px;
}

.services-item-house{
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.services-item-food{
  background-image: url("../images/food.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.services-item-present{
  background-image: url("../images/present.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.hostel-search{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 95px 0;
}

.hostel-search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.hostel-search-description{
  width: 592px;
  text-align: center;

  font-size: 22px;
  line-height: 26px;

  margin-top: 20px;
  margin-bottom: 0;
}

.newsletter{
  background-color: #333333;
  background-image: url("../images/email-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFFFFF;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 105px;
}

.newsletter-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-description{
  font-size: 22px;
  line-height: 26px;
  width: 475px;

  margin-top: 20px;
  margin-bottom: 0;
}

.newsletter-form{
  margin-top: 55px;
  display: flex;
  width: 684px;
}

input[type="email"]{
  flex-grow: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}


/* Footer */
.page-footer{
  padding: 40px 70px 30px 70px;

  display: flex;
  align-items: center;
}

.page-footer a{
  color: #000000;
  text-decoration: none;
}

.footer-social{
  width: 144px;
}

.footer-social-list{
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style-type: none;
}

.footer-social-item{
  display: flex;
  align-items: center;
}

.footer-social-item a{
  width: 48px;
  padding: 13px 12px;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer-social-link:hover .social-icon path{
  fill: #68A2CA;
}

.footer-social-link:focus .social-icon path{
  fill: #68A2CA;
}

.footer-social-link:active .social-icon path{
  fill: #68A2CA30;
}

.footer-contacts{
  width: 720px;
  padding: 0 40px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contacts-phone:hover{
  color: #756157;
}
.footer-contacts-phone:focus{
  color: #756157;
}
.footer-contacts-phone:active{
  color: #75615730;
}

.developer-icon{
  display: block;
}

.footer-developer-link:hover .developer-icon path{
  fill: #756157;
}

.footer-developer-link:focus .developer-icon path{
  fill: #756157;
}

.footer-developer-link:active .developer-icon path{
  fill: #75615730;
}

/* Catalog page main content*/
.inner-container-filters{
  background-color: #333333;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFFFFF;

  padding: 35px 70px 70px 70px;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

  margin: 0;
}

/* Breadcrumbs */

.breadcrumbs-list{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;

  list-style-type: none;
}

.breadcrumbs-item a{
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-item:not(:last-child){
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after{
  position: absolute;
  right: -9px;
  transform: translate(50%, 50%);
  content: "";
  width: 7px;
  height: 11px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover{
  color: #FFFFFF60;
}
.breadcrumbs-link:hover .breadcrumbs-icon path{
  fill: #FFFFFF60;
}

.breadcrumbs-link:active .breadcrumbs-icon path{
  fill: #FFFFFF30;
}
/* Filters */

.catalog-filters{
  display: flex;
  margin-top: 40px;
}

.catalog-filter-list{
  width: 150px;
  margin: 0;
  padding: 0;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style-type: none;
}

.catalog-filter-group{
  border: none;
  padding: 0;
  margin: 0;
}

.filter-group-hostel-type{
  margin-left: 70px;
}

.filter-group-price{
  margin-left: 140px;
}

.filter-buttons-container{
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.catalog-filter-title{
  font-weight: 700;
  text-transform: capitalize;
}

/* Hostel's list */

.catalog-hostels{
  padding: 50px 70px 60px 70px;
}

.catalog-hostels-inner-container{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.select-control{
  position: relative;
  align-self: stretch;
  margin-left: 192px;
  padding-left: 20px;
  width: 292px;

  border: none;
  outline: 3px solid #E5E5E5;
  border-radius: 4px;

  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.select-control:hover{
  outline-color: #68A2CA;
}

.select-control:focus{
  outline-color: #68A2CA;
}

.select-controln:active{
  border-color: #68A2CA;
}

.select-control:disabled{
  color: #00000030;
  border-color: #00000030;
}

.view-control{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-button{
  display: block;
  padding: 17px 16px;
  min-width: 16px;
  min-height: 14px;

  text-decoration: none;
  color: #000000;

  outline: 3px solid #E5E5E5;
  border-radius: 4px;
}

.view-cards{
  background-image: url("../images/view-cards-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-photo{
  padding: 14px 16px;
  background-image: url("../images/view-photo-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list{
  background-image: url("../images/view-list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-active{
  outline-color: #000000;
}

.view-button:hover{
  outline-color: #000000;
}

.view-button:focus{
  outline-color: #68A2CA;
}

.view-button:focus:not(:focus-visible) {
  outline-color: #000000;
}

.view-button:focus-visible {
  outline-color: #68A2CA;
}

.view-button:active{
  border-color: #000000;
}

.catalog-hostels-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.hostel-list{
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hostel-card{
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

.hostel-card-content{
  display: flex;
  flex-direction: column;
}

.hostel-card-desc-container{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.hostel-card-buttons-container{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.hostel-card-rating-container{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.stars{
  width: 140px;
  height: 20px;
  align-self: center;
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-position: left;
}

.star-2{
  width: 42px;
}

.star-3{
  width: 66px;
}

.star-4{
  width: 88px;
}

.hostel-card-title-link{
  margin-top: 16px;
  text-decoration: none;
}

.hostel-card-image{
  object-fit: fill;
}

.hostel-card-title{
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hostel-rating{
  padding: 9px 23px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #F2F2F2;
}

.newsletter-inner{
  background-color: transparent;
  background-image: none;
  color:#000000;
}

.newsletter-inner input[type="email"]{
  background-color: #F2F2F2;
}

/* Buttons */
.button{
  display: inline-block;

  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.hostel-search-small-button{
  background-color: #756157;
  padding: 8px 34px;
  margin-left: 20px;

  font-size: 16px;
  line-height: 20px;
}

.hostel-search-small-button:hover,
.hostel-search-small-button:focus{
  outline: none;
  background-color: #615048;
}

.hostel-search-small-button:active{
  color: #FFFFFF30;
}


.hostel-search-button{
  background-color: #756157;
  margin-top: 55px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
}

.hostel-search-button:hover,
.hostel-search-button:focus{
  outline: none;
  background-color: #615048;
}

.hostel-search-button:active{
  color: #FFFFFF30;
}

.newsletter-button{
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;

  font-size: 20px;
  line-height: 36px;
}

.newsletter-button:hover,
.newsletter-button:focus{
  outline: none;
  background-color: #68A2CA;
}

.newsletter-button:active{
  color: #FFFFFF30;
}

.submit-button{
  background-color: #82B3D3;
  padding: 8px 50px;

  font-size: 16px;
  line-height: 20px;
}

.submit-button:hover,
.submit-button:focus{
  outline: none;
  background-color: #68A2CA;
}

.submit-button:active{
  color: #FFFFFF30;
}

.reset-button{
  padding: 8px 50px;
  background-color: transparent;

  font-size: 16px;
  line-height: 20px;
}

.reset-button:hover{
  color: #FFFFFF60;
}

.reset-button:focus{
  outline: 3px solid #83B3D3;
}

.reset-button:focus:not(:focus-visible) {
  outline: none;
}

.reset-button:focus-visible {
  outline: 3px solid #83B3D3;
}

.reset-button:active{
  color: #FFFFFF30;
}

.reset-button:disabled{
  color: #FFFFFF15;
}

.hostel-card-button-favorite{
  background-color: #756157;
  padding: 8px 20px;

  font-size: 16px;
  line-height: 20px;
}

.hostel-card-button-favorite:hover,
.hostel-card-button-favorite:focus{
  outline: none;
  background-color: #615048;
}

.hostel-card-button-favorite:active{
  color: #FFFFFF30;
}

.hostel-card-button-favorite-selected{
  background-color: #7DB54F;
}

.hostel-card-button-more{
  background-color: #82B3D3;
  padding: 8px 26px;

  font-size: 16px;
  line-height: 20px;
}

.hostel-card-button-more:hover,
.hostel-card-button-more:focus{
  outline: none;
  background-color: #68A2CA;
}

.hostel-card-button-more:active{
  color: #FFFFFF30;
}

.hostel-card-button-favorite-selected:hover{
  background-color: #6C9E42;
}

.hostel-card-button-favorite-selected:focus{
  background-color: #6C9E42;
}

.hostel-card-button-favorite-selected:active{
  background-color: #7DB54F;
  color: #FFFFFF30;
}

/* Pagination*/
.pagination{
  margin: 0;
  padding: 0;
  margin-top: 80px;

  display: flex;
  gap: 8px;

  list-style-type: none;
}

.pagination-link{
  width: 60px;
  height: 60px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;

  border: none;
  border-radius: 4px;

  background-color: #82B3D3;
}

.pagination-link-current{
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-show-more{
  background-color: transparent;
  color: #000000;
}

.pagination-link:hover{
  background-color: #68A2CA;
}

.pagination-link:focus{
  outline: none;
  background-color: #68A2CA;
}

.pagination-link:active{
  background-color: #82B3D3;
  color: #FFFFFF03;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active{
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-show-more:hover,
.pagination-show-more:focus,
.pagination-show-more:active{
  background-color: transparent;
  color: #000000;
}
